body {
  padding: 0;
  margin: 0;
}

.container {
  height: 500px;
  width: 350px;
  background-color: #f00;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pokemon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  background-color: #5f9bd1;
  height: 140px;
  width: 150px;
  border-radius: 140px/125px;
  box-shadow: -1px -1px 1px 1px #333;
  position: relative;
  .eye {
    position: absolute;
    bottom: 0;
    right: 22px;
    width: 85px;
    height: 85px;
    border-radius: 36% 64% 64% 36%/49% 73% 27% 51%;
    background-color: #fff;
    transform: rotate(-5deg);
    border: 1px solid #333;
    z-index: 1;
    .inner__eye {
      width: 20px;
      height: 30px;
      border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
      background: #2b3963;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%) rotate(-5deg);
      &:before {
        content: "";
        width: 8px;
        height: 13px;
        border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
        background: #fff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
      &:after {
        content: "";
        width: 8px;
        height: 13px;
        border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
        background: #000;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .nose {
      position: absolute;
      width: 100%;
      height: 100%;
    .shadow__nose {
      clip-path: polygon(31% 35%, 31% 4%, 55% 33%, 62% 21%, 55% 78%, 20% 65%, 10% 20%);
      height: 80px;
      width: 80px;
      background-color: #93c9d7;
      position: absolute;
      right: -26px;
      bottom: 5px;
      transform: rotate(18deg);
    }
    .peck {
      width: 20px;
      height: 30px;
      border-radius: 44% 56% 72% 28% / 49% 73% 27% 51%;
      background: #f4cd3b;
      position: absolute;
      bottom: 23px;
      right: 5px;
      border: 1px solid #333;
      &:after{
        content: "";
        width: 100%;
        height: 20px;
        border: 1px solid #333;
        position: absolute;
        border-radius: 50%;
        border-right: transparent;
        border-left: transparent;
        border-top: transparent ;
        bottom: 10%;
      }
    }
  }
}

.neck {
  position: relative;
  .front {
    background-color: #5f9bd1;
    height: 50px;
    width: 50px;
    position: relative;
    transform: skew(32deg) rotate(25deg);
    top: -30px;
    left: 45px;
    &:before{
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      background: #5f9bd1;
      top: 98%;
      border-radius: 0 0 75px 75px;
      border: 1px solid #333;
      border-top: transparent;
    }
    &:after{
      content: "";
      position: absolute;
      height: 60%;
      width: 100%;
      background: #5f9bd1;
      top: 20%;
      border-radius: 0 0 75px 75px;
      right: -80%;
      transform: rotate(-90deg);
      border: 1px solid #333;
      border-top: transparent;
  
    }
  }
  .spine {
    background-color: #5f9bd1;
    width: 40px;
    height: 70px;
    border-radius: 89% 11% 87% 13%/85% 7% 93% 15%;
    position: absolute;
    top: -25px;
    left: 10px;
    transform: rotate(15deg);
    border: 1px solid #333;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
  }
}

.body {
  background-color: #93c9d7;
  width: 100px;
  height: 100px;
  border-radius: 55% 45% 42% 58% / 57% 58% 42% 43%;
  position: relative;
  top: -60px;
  z-index: -1;
  left: 15px;
  &:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 24px;
    background: #93c9d7;
    bottom: 0px;
    border-radius: 0 0 75px 75px;
    transform: rotate(24deg);
    left: 15px;
  }
  &:after {
    content: "";
    position: absolute;
    height: 65px;
    width: 50px;
    background: #93c9d7;
    bottom: -6px;
    border-radius: 0 0 140% 50%;
    right: 0;
  }
  .hand {
    position: relative;
    width: 100%;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 50px;
      border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
      border: 1px solid #333;
      top: 60%;
      left: 35%;
      transform: translate(-50%, -50%) rotate(10deg);
      border-top: transparent;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      width: 22px;
      height: 45px;
      border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
      border: 1px solid #333;
      background: #718f9a;
      top: 30%;
      right: -15px;
      transform: rotate(-10deg);
      border-top: transparent;
    }
  }
}

.foot {
  position: relative;
  top: -60px;
  z-index: -2;
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 0% 100% 9% 91% / 0% 93% 7% 100%;
    background: #f4cd3b;
  }
  &:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 45px;
    width: 30px;
    height: 30px;
    border-radius: 0% 100% 9% 91%/0% 93% 7% 100%;
    background: #f4cd3b;
    transform: rotate(-30deg);
  }
}